<GridLayout columns="*, 100" height="100">
    <GridLayout rows="*,*,*" columns="*,auto" col="0">
        <Label [text]="room.name" row="0" col="0" colSpan="2" class="title" verticalAlignment="center"></Label>
        <Label [text]="'&#x200f;&#xf142;&#x200f; ' + ((room.price <= 0) ? 'مجاني' : room.price + ' ريال')" row="1" col="1" class="ion price"></Label>
        <Label [text]="'&#x200f;&#xf334;&#x200f; ' + '3km'" class="ion location" row="1" col="0"></Label>
    </GridLayout>
    <Image [src]="(room.photos?.length) ? room.photos[0] : '~/Images/non-preview.png'" class="thumbnail" row="0" rowSpan="3" col="1" stretch="fill"></Image>
</GridLayout>