.thumbnail{
    border-radius: 5;
    margin: 3;
    background-color: #ececec;
}

label{
    margin: 5;
    text-align: left;
}

.price, .location{
    vertical-alignment: center;
}

.price{
    color: #c4a972;
    font-weight: bold;
}

.title{
    font-size: 18;
}