.title-text {
    font-size: 20;
}

.fab-button {
    height: 70;
    width: 70;
    margin: 15;
    border-radius: 35;
    background-image: url("~/Images/plus-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #4d806f;
    horizontal-align: right;
    vertical-align: bottom;
}

.action-bar{
    z-index: 0;
}

.filters{
    background-color: #c4a972;
    color: white;
}