<ActionBar class="action-bar fSTC">
    <GridLayout>
        <Image src="~/Images/header.png" height="30"></Image>
    </GridLayout>
</ActionBar>
<GridLayout class="page" rows="auto,*">
    <SegmentedBar class="filters" [items]="filters" row="0" selectedIndex="2"></SegmentedBar>

    <ListView row="1" [items]="items" class="list-group">
        <ng-template let-item="item">
            <GridLayout [nsRouterLink]="['/room-detail', item.id]">
                <room-card [room]="item"></room-card>
            </GridLayout>
        </ng-template>
    </ListView>

    <Button row="1" class="fab-button" [nsRouterLink]="['/register']"></Button>
</GridLayout>
