.title-text {
    font-size: 20;
}

.fab-button {
    height: 60;
    width: 60;
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
    background-image: url("~/Images/plus-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #4d806f;
    border-radius: 30;
    overflow: hidden;
}

.action-bar{
    z-index: 0;
}

.filters{
    background-color: #c4a972;
    color: white;
}