<ActionBar class="action-bar fSTC">
    <GridLayout>
        <Image src="~/Images/header.png" height="30"></Image>
    </GridLayout>
</ActionBar>
<GridLayout class="page" rows="auto,*">
    <SegmentedBar class="filters" [items]="filters" row="0" selectedIndex="2"></SegmentedBar>
    <ListView row="1" [items]="rooms" class="list-group" (itemTap)="navigateToRoom($event)">
        <ng-template let-room="item">
            <GridLayout>
                <room-card [room]="room"></room-card>
            </GridLayout>
        </ng-template>
    </ListView>
    <GridLayout row="1" class="fab-button">
        <Ripple rippleColor="#ffffff" (tap)="navigateToRegister()" borderRadius="30">
            <label></label>
        </Ripple>
    </GridLayout>
</GridLayout>
