.logo{
    width: 250;
    height: 250;
}

button.btn{
    color: white;
}

TextField{
    border-width: 1;
    border-style: solid;
    border-color: #afafaf;
    border-radius: 4;
    text-align: center;
    margin: 10;
    background: #eaeaea;
}