<ActionBar class="action-bar">
  <Label class="title text-center" text="معلومات الغرفة"></Label>
</ActionBar>
<GridLayout rows="*,50">
  <GridLayout row="0">
    <ScrollView>
      <StackLayout>
        <GridLayout>
          <Carousel #carousel ios:indicatorOffset="0,-10" ios:finite="true" ios:bounce="false" showIndicator="true" height="200" width="100%">
            <CarouselItem height="100%" width="100%">
              <!-- <Image [src]="room['photo']['url']" height="230" stretch="fill"></Image> -->
            </CarouselItem>
          </Carousel>
          <GridLayout class="full" verticalAlignment="bottom" columns="*,*,*">
            <Label [text]="'&#xf142; ' + ((room.price <= 0) ? 'مجاني' : room.price + ' ريال')" class="ion text-center text-price" col="0"></Label>
            <Label text="750 SAR" class="ion text-center text-makkah" col="1"></Label>
            <Label text="&#xf334; 3km" class="ion text-center text-location" col="2"></Label>
          </GridLayout>
        </GridLayout>
        <Label [text]="room.name" textWrap="true" class="short-description"></Label>
        <GridLayout rows="30,*">
          <Label row="0" text="الوصف" class="description-title" textWrap="true"></Label>
          <Label row="1" [text]="room.description" class="description-text" textWrap="true"></Label>
        </GridLayout>
        <GridLayout class="map-box">
          <ContentView height="200" width="95%">
            <Mapbox delay="1000" accessToken="pk.eyJ1IjoieGxtbnhwIiwiYSI6ImNqa2QxbHRnYzA4bzkza3JycXVsZmdpM2YifQ.JOOr58fEmva3b1lezxB-DQ" [latitude]="room.latitude"
              [longitude]="room.longitude" zoomLevel="13" mapStyle="light" hideCompass="false" (mapReady)="onMapReady($event)"
              [disableZoom]="disableMap"
              [disableRotation]="disableMap"
              [disableScroll]="disableMap"
              [disableTilt]="disableMap"
              [hideAttribution]="disableMap" >
            </Mapbox>
          </ContentView>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <GridLayout columns="*,*" row="1" padding="0">
    <Button text="مشاركة الإعلان" class="share-button" col="0" (tap)="share()"></Button>
    <Button text="الاتصال بالمعلن" class="connect-button" col="1"></Button>
  </GridLayout>
</GridLayout>