.full{
    border-bottom-color: #cfcfcf;
    border-bottom-style: solid;
    border-bottom-width: 1;
    border-top-color: #cfcfcf;
    border-top-style: solid;
    border-top-width: 1;
    padding: 10;
    margin: 10 0 10 0;
}

.text-description{
    text-align: left;
    padding: 5;
}